:root {
    --ff-primary: 'Kanit', sans-serif;
    --ff-accent: 'Averia Serif Libre', cursive;
    --ff-extra: 'Cookie', cursive;
    --ff-extra-two: 'IBM Plex Serif', serif;
    --ff-bold: 'Titan One', cursive;

    --clr-background: #fbfdf7;
    --clr-primary: #f1e07b;
    --clr-primary-hover: #e7d256;
    --clr-one: #6D926D;
    --clr-two: #ed4245;
    --clr-three: #11311c;
    --clr-four: #1f1520;
    --clr-five: #90b7b5;
    --clr-six: #d6f3ed;
    --clr-text-brick: #660d0d;
    --clr-text-dark: #1D1A1A;
}

*, 
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--clr-background);
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* .loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--clr-background);
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
}

.loader h1 {
    font-size: 1.525rem;
    font-family: var(--ff-extra-two);
    font-weight: 600;
    color: var(--clr-text-dark);
    line-height: 1.1;
    animation: text 2s 1;
}

.loader h2 {
    font-size: 1.125rem;
    font-family: var(--ff-extra-two);
    font-weight: 400;
    color: var(--clr-text-dark);
    line-height: 1.1;
    animation: text 2s 1;
}

.loader.hidden {
    animation: fadeOut 2s;
    animation-fill-mode: backwards;
}

@keyframes text {
    0% {
        color: var(--clr-text-dark);
        margin-bottom: 2rem;
    }

    30% {
        letter-spacing: 0.425rem;
        margin-bottom: -3.125rem;
    }

    85% {
        letter-spacing: 0.225rem;
        margin-bottom: 2.125rem;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
} */

nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 0.35px solid var(--clr-text-dark);*/
    color: var(--clr-text-dark);
    height: 3.5rem;
}

nav .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.25rem;
}

nav .nav-menu li {
    list-style-type: none;
    padding: 0 1.5rem;
}

nav .nav-menu li a {
    text-decoration: none;
    font-family: var(--ff-extra-two);
    font-size: 1.025rem;
    font-weight: 400;
    color: var(--clr-four);
}

nav .nav-menu li a:hover {
    border-bottom: 0.125rem solid var(--clr-text-dark);
}

nav .logo {
    padding-left: 4.75rem;
}

nav .logo a {
    font-size: 1.325rem;
    font-family: var(--ff-extra-two);
    font-weight: 700;
    text-decoration: none;
    justify-content: center;
    color: var(--clr-four);
}

nav .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 4.75rem;
}

nav .social i {
    padding: 0 1.25rem;
}

.top-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.25rem auto;
    padding: 0.325rem 0;
    color: var(--clr-four);
}

.top-section .section-title {
    font-size: 7.825rem;
    font-family: var(--ff-extra);
    font-weight: 900;
    line-height: 1.2;
}

.top-section .section-para {
    font-size: 2.125rem;
    font-family: var(--ff-extra-two);
    line-height: 1.2;
}

.top-section .section-para span {
    color: var(--clr-text-brick);
    text-decoration: underline;
}


